.wrapper{style: "margin: 0 auto 10px;max-width:900px;"}
  %a{href: "/", style: "text-decoration: none;"}
    %h1 Raspberry Piでパトランプ
  %hr
  %a.btn.btn-danger{href: "/flash"}
    flash
  %hr
  %form{action: "/say", method: "get"}
    .form-group
      %label{for: "message"} しゃべる
      %input#message.form-control{ type: "text", placeholder: "メッセージ", name: "message", value: @message}
      %p.control-label 声質
      .radio-inline
        %label{for: "woman"} 女性
        %input#woman{type: "radio", value: "", name: "voice", checked: "checked"}
      - @speakers.each do |s|
        .radio-inline
          %label{for: "#{s}"} = s
          %input{id: "#{s}", type: "radio", value: "#{s}", name: "voice"}
    %input.btn.btn-primary{type: "submit", value: "say"}
  %hr
  %form{action: "/alert", method: "get"}
    .form-group
      %label{for: "message2"} アラート
      %input#message2.form-control{ type: "text", placeholder: "メッセージ", name: "message", value: @message}
      %p.control-label 声質
      .radio-inline
        %input{type: "radio", value: "", name: "voice", id: "woman2", checked: "checked"}
        %label{for: "woman2"} 女性
      .radio-inline
        %input{type: "radio", value: "show", name: "voice", id: "show2"}
        %label{for: "show2"} showくん(モヤモヤさまぁ～ず)
    %input.btn.btn-danger{type: "submit", value: "alert"}
  %hr
  %form{action: "/light", method: "get"}
    .form-group
      %label{for: "color"} 色名
      %input#color.form-control{ type: "text", placeholder: "color's name", name: "color", value: @color}
    %input.btn.btn-primary{type: "submit", value: "送信"}
  %hr
  - @colors.each do |c|
    %a.btn.btn-default{href: "/light?color=#{c}"}
      = c
